/* src/index.css */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 35px;
    border: 4px solid rgba(126, 76, 39, 0.65);
    border-radius: 8px;
    background: #fdfbfb;
}

.form-group {
    margin-bottom: 15px;

}
.form-group p {
    color:#7E4C27;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
}

.form-group label {
    color:#7E4C27;
    font-family: Arial;
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-group input {
    color: #7E4C27;
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #7E4C27;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

.form-group-icon {
    text-align: center;
    margin-bottom: 20px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #7E4C27;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #915325;
}

